.frequency-container {
  display: flex;
  align-items: center;
}

.dose-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  //   background-color: green;
  &__field {
    border-color: #ced4da;
    &--units {
      width: 4rem;
      border-color: #ced4da;
    }
    &__check {
      // border-color: red;
      // color: green;
    }
  }
}
